<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <span class="count_tip"><i class="characters_count">0</i><i>/140</i></span>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>

<script>
  /*
  var events = ["keyup", "blur"];
  events.map(function(event) {
    $("#micropost_content").on(event, function() {
      var count = $("#micropost_content").val().length;
      $(".characters_count").html(count.toString());
      if (count > 140) {
        $(".count_tip").css("color", "#FF0000");
      } else {
        $(".count_tip").css("color", "#000000");
      }
    });
  });
  */
</script>
